.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.title{
  font-size: 3em; 
  letter-spacing: 1px; 
  font-weight: bold; 
  font-family: 'Montserrat', sans-serif;
}

.par{
  font-weight: bold; 
  font-family: 'Montserrat', sans-serif;
  color: #212529;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(180deg, #212529, #FFFFFF); 
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212529;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.StudentCard {
  width: 400px; 
  display: inline-block; 
  text-align:center;
}